			<div class="slider">
				<div class="callbacks_container">
					<ul class="rslides" id="slider">
						 <li>	 
							<div class="caption">
							<div class="col-md-6 cap-img">
							<img src="{% static 'dist/images/p.png' %}"  class="img-responsive" alt="/">
							</div>
							<div class="col-md-6 cap">
								<h3>Helados Artesanales </h3>  
								<p>Son los productos alimenticios llevados al estado sólido o pastoso por medio de la congelación, elaborados con dos o más de los ingredientes siguientes: Leche o productos lácteos en sus diferentes formas, grasa de leche, grasas vegetales desodorizadas; edulcorantes permitidos, huevos, agua, jugos y pulpa de frutas, frutas, chocolate, nueces y/o productos similares, aditivos permitidos y otros.</p>
								<a class="button" data-toggle="modal" data-target="#myModal1" href="#">Pedido Online</a>
							</div>
							</div>
							<div class="clearfix"></div>
						 </li>
						 <li>
							<div class="caption">
							<div class="col-md-6 cap-img">
								<img src="{% static 'dist/images/p1.png' %}"  class="img-responsive" alt="/">
							</div>
							<div class="col-md-6 cap">
								<h3>Queso Helado</h3> 
								<p>El origen de los helados no se puede establecer a ciencia cierta, puesto que algunos sostienen que proviene de China, otros ubican su nacimiento en Grecia y otros tantos en Egipto. Sin embargo, muchos coinciden en que aparecen hace aproximadamente tres mil años.</p>
								<a class="button" data-toggle="modal" data-target="#myModal1" href="#">Pedido Online</a>
							</div>
							</div>
							<div class="clearfix"></div>
						</li>
						 <li>	          
							<div class="caption">
							<div class="col-md-6 cap-img">
							<img src="{% static 'dist/images/p2.png' %}"  class="img-responsive" alt="/">
							</div>
							<div class="col-md-6 cap">
								<h3>Frozen Happines </h3>
								<p>Somos una empresa dedicada a la producción y comercialización de queso helado artesanal que brinda un servicio de calidad..</p>
								<a class="button" data-toggle="modal" data-target="#myModal1" href="#">Pedido Online</a>
							</div>
							</div>
							<div class="clearfix"></div>
						 </li>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
<!--header-->
			<!--content-->
				<div class="content">
				<!--high-->
					<div class="high-quality">
						<div class="container">
							<h3>El queso que sabe a beso </h3>
							<h2>GENERAR <span>ALEGRIA</span> DIVERSION</h2>
							<p>es innovador ya que en la ciudad de Huancayo no se comercializa a si mismo su nombre genera una gran expectativa que atraerá al público asiéndolo novedoso para competir en el mercado local llegando a satisfacer las necesidades de los clientes.</p>
						</div>
					</div>
					<!--high-->
					<!--menu-->
						<div class="feature-menu" id="menu">
							<div class="container">
								<h3><span>Nuestro</span> Productos</h3>
								<div class="feature-grids">
									<div class="col-md-4 feature-grid">
										<img src="{% static 'dist/images/m1.png' %}" class="img-responsive" alt="/">
										<div class="rate rate1">
											<h5>1.00</h5>
										</div>
									</div>
									<div class="col-md-4 feature-grid">
									<img src="{% static 'dist/images/m2.png' %}" class="img-responsive" alt="/">
									<div class="rate">
											<h5>2.00</h5>
										</div>
									</div>
									<div class="col-md-4 feature-grid">
									<img src="{% static 'dist/images/m3.png' %}" class="img-responsive" alt="/">
									<div class="rate">
											<h5>3.00</h5>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>